.grid {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
}
.gridItem {
    display: inline-flex;
    flex-direction: column;
    border: 1px solid red;
    align-items: center;
}

.itemImg {
    width: 40px;
    height: 40px;
    background: #222;
}

.itemText {
    font-size: 0.7em;
    text-align: center;
}